@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Righteous&display=swap');

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Dancing Script";
}

*{
    box-sizing: inherit;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
}

.header{
    width: 100%;/*si se le pone 'vw' detras del 100, en vez del %, es para que ocupe el ancho completo de la ventana del navegador*/
    height: 12vh;
    /*Si quitamos width y ponemos en height 100vh, cogera toda la pantalla, y si en position en vez de fixed ponemos relative, se desplazara hacia arriba hasta que se quite*/
    background-color: rgb(0, 63, 71, 0.2);
    background-image: url('cieloNocturno.jpg');
    background-position: center bottom;
    background-size: cover;
    background-blend-mode: color;
    background-attachment: fixed;
    border-radius: 0px 0px 15px 15px;
    position: fixed;
    z-index: 1000000000;
}

.header h2{
    color: antiquewhite;
    text-align: left;
    font-size: 40px;
    /*font-size: clamp(3vw, 5vw, 8vw);  Esto sirve para decirle a la pagina en el siguiente orden el tamaño minimo, ideal, maximo. Si usamos esto en la parte @media para pantallas pequeñas no haria falta poner nada*/
    margin-left: 2%;
    padding: 10px;
    position: fixed;
}

.header .header_nav{
    margin: auto;
    width: 100vw;
    height: 10vh;
    padding: 10px;
}

.header_nav ul{
    width: 100%;
    list-style: none;
    text-align: right;
    padding: 1%;
    position: fixed;
}

.header_nav ul li{
    font-size: 30px;
    text-align: center;
    display: inline-block;
    /*border: 1px;
    border-style: solid;
    border-color: aliceblue;*/
    margin-right: 5%;
    margin-left: 5%;
}

.header_nav ul li a{
    text-decoration: none;
    color: rgb(184, 171, 171);
}

.header_nav ul li a:hover{/*Esto es para cuando pasamos el cursor sobre los enlaces del menú se ponga en blanco*/
    color: white;
}

.content_main{
    width: 100%;
    /*height: 400vh;/*el vh es para que se adapte a un porcentaje del tamaño de la ventana*/
}

.content_main .section{
    width: 100%;
    padding: 2rem;
}

.content_main .section:nth-child(even){/*Para los pares*/
    background-color: rgb(42, 42, 88);
}

.content_main .section:nth-child(even) h2{
    color: rgb(255, 255, 255);
}

.content_main .section:nth-child(even) p{/*Para los pares*/
    color: rgb(255, 255, 255);
}

.content_main .section h2{
    color: rgb(42, 42, 88);
    text-align: center;
    font-size: 2em;
    font-family: "Righteous";
    position: sticky;
    top: 12vh;
    margin-bottom: 40px;
}

.content_main .section.sobremi{
    top: 12vh;
}

.content_main .section.sobremi p:first-of-type{
    margin-top: 100px;
}

/*.content_main .section img{
    width: 350px;
    height: 350px;
    clip-path: circle();//Especificación de CSS para recortar la imagen en forma circular, tambien puede recortar en otras formas//
    float: right;
    shape-outside: circle();
    shape-margin: 15px;
    margin-left: 30px;
    margin-top: 100px;
}*/

.content_main .section p{
    font-size: 2em;
    margin: 20px;
    text-align: justify;
    line-height: 1.5em;
}

.content_main .section.contacto ul{
    color: white;
    font-size: 2em;
}

.link_up{
    width: 40px;
    height: 40px;
    background-color: bisque;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2em;
    text-align: center;
    border-radius: 10px;
    z-index: 100;/* Sirve para darle profundidad a los elementos, si hay varios elementos superpuestos, el que tenga mayor z-index se vera primero*/
}

.header .header_networks{/*cajon de redes sociales*/
    position: absolute;
    top: 60%;
    left: 2.7%;
    width: max-content;
    padding: 10px;/*espacio entre el interior y el borde*/
    border: 1px solid white;
    border-radius: 8px 8px 0 0;
    box-shadow: 3px 3px 10px white;/*sombra*/
}

.header .header_networks a i{
    color: white;
    font-size: 1.2em;
    padding: auto;
    /*display: flex;
    flex-wrap: wrap;*/
}

.header_nav select{/*Personalizar el selector desplegable*/
    position: fixed;
    top: 4%;
    right: 5%;
    background-color: transparent;
    color: white;
    padding: 8px 40px 8px 10px;
    font-size: 16px;
    outline: none;
}

.header_nav select option{
    background-color: rgb(0, 63, 71);
}

.grid-projects{
    max-width: 70%;
    min-height: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto, 1fr);
    gap: 20px;
    margin: 0 auto;
}

.grid-projects .g-items{
    height: 300px;
    border-radius: 10px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.grid-projects .g-items:first-of-type{
    background-image: url('cieloNocturno.jpg');
}

.grid-projects .g-items:nth-of-type(2){
    background-image: url('galaxia.jpg');
}

.grid-projects .g-items:last-of-type{
    background-image: url('nebulosa.jpg');
}

.grid-projects .g-items .overlay{
    position: absolute;
    bottom: 0;
    height: 50%;
    background-color: rgba(0, 63, 71, 0.95);
    width: 100%;
    color: white;
    font-size: 2em;
    display: grid;
    place-items: center;
    border-radius: 30px 30px 0 0;
}

.information{
    width: 100%;
    height: 70%;
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.information .information_image{
    width: 50%;
    border-radius: 15px;
}

.information .information_image img{
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: inherit;
}

.information p{
    color: black;
    width: 30%;
    font-size: 2vw;
}

@media (width >= 769px){/*Para pantallas grandes como las de los ordenadores*/
    .header_nav select{
        display: none;
    }
}

@media (width <= 768px){/*Para pantallas pequeñas como las de los moviles*/
    .header_nav ul{
        display: none;
    }

    .header h2{
        font-size: 6vw;
    }

    .header_nav select{/*Personalizar el selector desplegable*/
        font-size: 2vh;
    }

    .content_main .section h2{
        font-size: 1.5em;
    }

    .content_main .section p{
        font-size: 1em;
    }

    .content_main .section img{
        width: 150px;
        height: 150px;
        margin-left: 10px;
        margin-top: 100px;
        margin-bottom: 10px;
        shape-outside: circle();
        shape-margin: 20px;
    }

    .content_main .section.contacto ul{
        font-size: 1em;
    }

    .grid-projects{
        min-height: 80%;
        align-items: start;
        margin-bottom: 70px;
    }

    .grid-projects .g-items .overlay{
        height: 100%;
        border-radius: 0;
        background-color: rgba(0, 63, 71, 0.6);
    }

    .grid-projects .g-items{        
        min-height: 80%;
    }

    .information{
        width: 100%;
        height: 80%;
        flex-direction: column;
        justify-content: center;/*Centra venrticalmente*/
        align-items: center;/*Alinea horizontalmente*/
    }

    .information .information_image{
        width: 80%;
        margin: 0 auto;
    }
    
    .information .information_image img {
        width: 100%;
        height: auto;
        display: block;/* Elimina el espacio inferior típico de inline */
        object-fit: cover;
    }

    .information figure {
        margin: 0;/* Elimina los márgenes por defecto de <figure> */
        padding: 0;
        width: 80%;
        max-width: 300px;
    }

    .information p{
        font-size: 1em;
        width: 90%;
    }

}

@media (prefers-color-scheme: dark){/*Para el modo oscuro del sistema operativo*/
    .header{
        background-color: rgb(0, 63, 71, 0.5);
    }

    .content_main .section:nth-child(odd){/*Para los nones*/
        background-color: rgb(20, 20, 40);
    }

    .content_main .section h2{
        color: rgb(200, 200, 255);
    }

    p{
        color: rgb(220, 220, 220);
    }

    .information p{
        color: rgb(220, 220, 220);
    }
}

@media (orientation: landscape){/*Para pantallas en horizontal*/
    
}

/*Solo para dispositivos que interactuan con pantallas y el ancho de pantalla es mayor o igual a 768px. Si se le pone not en vez de only  haria todo lo contrario*/
@media only screen and (width >= 768px){
    
}

/*Solo para dispositivos que interactuan con pantallas y el ancho de pantalla es mayor o igual a 768px y esta en horizontal.*/
@media only screen and (width >= 768px) and (orientation: landscape){
    
}

/*Esto sirve para cuando se imprime la pagina cambiarle algo.*/
@media print{

}